{{ define "title" }}{{- .Site.Title -}}{{ end }}
{{ define "main" }}
  <section>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>{{- .Title -}}</h1>
          {{- .Content -}}
        </div>
      </div>
    </div>
  </section>
  <section class="no-padding-top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="no-margin-top">Latest</h2>
        </div>
        <div class="col-lg-7 col-xl-7">
          {{ range where .Site.Pages "Type" "=" "post" | first 5 }}
            {{- partial "summary_large.html" . -}}
          {{ end }}
        </div>
        <div class="col-lg-5 col-xl-offset-1 col-xl-4">
          <ul>
            {{ range .Site.Taxonomies.categories }}
              <li><a href="{{ .Page.Permalink }}">{{- .Page.Title -}}&nbsp;({{ .Count }})</a></li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </section>
{{ end }}
