#site-footer {
  width: 100%;
  background: $primary-dark;
  color: #fff;
  .footer-widgets {
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    list-style: none;
    margin: 0;
    .widget {
      @extend .col-sm-3;
      @extend .col-xs-12;
      margin: 0;
    }
  }
  .widgettitle {
    color: #fff;
  }
  .sub-menu {
    padding-left: 15px;
  }
}

.footer-menu {
  @extend .row;
  background: $primary-light;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  ul {
    list-style: none;
  }
  li {
    display: inline-block;
    border-right: 1px solid $border-color;
    margin: 0;
    padding: 0 15px;
    &:last-child {
      border: 0;
    }
  }
  a {
    color: #fff;
  }
}

.copyright {
  background: $primary-dark;
  color: #eee;
  padding: 20px 0;
  p {
    margin: 0;
    padding: 0;
    font-size: 0.875em;
  }
}
