.pagebuilder-section .row {
  padding-top: $grid-padding * 2;
  padding-bottom: $grid-padding * 2;
}

// Banner Module
.module-banner {
  display: flex;
  align-items: center;
  .banner-content {
    flex: 1;
    .banner-button {
      @extend .btn;
    }
  }
}

// Card Module
.card {
  background: #fff;
  height: 100%;
  box-shadow: $shadow;
  .card-img {
    min-height: 250px;
    background-size: cover;
  }
  .card-content {
    padding: 10px;
  }
  .card-title {
    margin-top: 0;
  }
  .card-text {
    margin-bottom: 0;
  }
}

// Tile Module
.module-tile {}
.tile-bg {
  background-size: cover;
  &:hover .tile-content {
    opacity: 1;
  }
}
.tile-content {
  min-height: 200px;
  padding: 10px;
  opacity: 0;
  transition: 0.3s ease-in-out;
  color: #fff;
}

// Dynamic Content Module
.module-dynamic {
  & > ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
  .dynamic-cards {
    padding: 0;
    align-items: stretch;
    .card-container {
      flex: 1;
      margin-bottom: 20px;
      .card {
        height: 100%;
        min-width: 200px;
      }
    }
  }
  .dynamic-grid {
    display: flex;
    align-items: stretch;
    .grid-bg {
      padding: 0;
      flex: 1;
      min-width: 250px;
      min-height: 200px;
      background-size: cover;
      margin: 0;
      &:hover .grid-content {
        opacity: 1;
      }
      .grid-content {
        transition: all 0.5s;
        padding: 10px;
        height: 100%;
        background-color: rgba($primary, 0.7);
        opacity: 0;
        .grid-title {
          margin-top: 0;
          color: #fff;
        }
        .grid-text {
          color: #fff;
        }
      }
    }
  }
  .dynamic-list {
    padding: 0 $grid-padding;
  }
}

// Image Module
.module-image {
  img {
    width: 100%;
    height: auto;
  }
}
