.type-project {
  margin-bottom: 50px;
  // background-color: $secondary;
  .featured-img {
    height: 300px;
    // border: 5px solid $secondary;
  }
}
.post-description {
  padding: 20px 0;
  text-align: left;
  height: auto;
  color: $text-color;
}

.single-project {
  .single-info {
    .btn {
      margin: 20px 0;
    }
  }
  .featured-img {
    height: 300px;
  }
}

.single-event {
  .map-canvas {
    height: 300px;
  }
}
#event-map {
  height: 300px;
}
.event-end-time,
.event-start-time {
  margin: 20px 0 0;
}
