.social-icons {
  a {
    display: inline-block;
    margin-right: 10px;
    &:hover {
      svg {
        fill: #ddd;
      }
    }
  }
  svg {
    width: 24px;
    height: 24px;
    fill: #fff;
    transition: 0.3s;
  }
}
